# Benutzer-spezifische Konfiguration
backup.ini
settings.ini
profiles/

# Installer-Hilfsdateien
bin/Installer/*.lnk
bin/**/*.sha256

# PowerShell Studio Build-Dateien
*.psbuild

# Alte Versionen
Source/

# Temporäre Dateien
*.tmp
*.log
