# Benutzer-spezifische Konfiguration
backup.ini
settings.ini
profiles/

# Kompilierte Binärdateien
bin/

# PowerShell Studio Build-Dateien
*.psbuild

# Alte Versionen
Source/

# Temporäre Dateien
*.tmp
*.log
